* {
    font-family: 'Noto Sans', sans-serif;
    color: #676;
}

.header-logo {
  background-color: white;
}

.tagline a h3 {
  color: rgb(3,46,99);
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .nav>li>a {
  color: white;
  background-color: #9e1111;
}

.navbar-inverse .navbar-brand:hover {
  color: white;
  background-color: rgb(72,72,72);
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
  background-color: #9e1111;
}

.navbar-inverse .nav>li>a:hover,
.nav>li>a:focus {
    background-color: black;
}

.navbar-brand {
  display: none;
}

i {
  color:white;
}

.btn-primary {
  background-color: #9e1111;
  border-color: black;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.dropdown-menu > li > a {
  border: 1px solid white;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: white;
    color: #9e1111;
    border: 1px solid black;
}

.caption h3 {
  text-align: center;
}

.caption p {
  text-align: center;
}

.thumbnail {
  border: 1px solid black;
}

.thumbnail:hover,
.thumbnail:focus,
.thumbnail:active {
  border: 1px solid #9e1111;
}


.jumbotron {
  border: 1px solid black;
}

.jumbotron p {
    color: black;
}

.jumbotron .img-responsive {
  margin: 0 auto;
}

.jumbotron:hover,
.jumbotron:focus,
.jumbotron:active {
  border: 1px solid #9e1111;
}

@media only screen and (min-width: 1200px) {

  .tagline {
    padding-top: 20px;
    padding-left: auto;
    padding-right: auto;
    height: 109px;
  }

  .tagline-no-break {
    display: block;
  }

  .tagline-break {
    display: none;
  }

}

@media only screen and (max-width: 1199px) {

  .tagline {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 103px;
  }

  .tagline-break {
    display: none;
  }

  .tagline-no-break {
    display: block;
    font-size: 21px;
  }
}

@media only screen and (max-width: 991px) {

  .tagline {
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    height: 86px;
  }

  .tagline a h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {

  .header-logo {
    margin: 0px;
    display: block;
    min-width: 200px;
    width: 200px;
  }

  .tagline-column {
    width: 100%;
  }

  .tagline {
    height: 76px;
    width: 100%;
  }

  .tagline a h3 {
    font-size: 20px;
  }

  .tagline-break {
    display: block;
    margin-top: 15px;
  }

  .tagline-no-break {
    display: none;
  }

  .navbar-brand {
    display: block;
  }

  .jumbotron {
    padding-right: 45px;
    padding-left: 45px;
  }
}

@media only screen and (max-width: 680px) {

  .header-logo {
    margin: 0px;
    display: block;
    min-width: 200px;
    width: 200px;
  }

  .tagline-column {
    width: 100%;
  }

  .tagline {
    height: 76px;
    width: 100%;
  }

  .tagline a h3 {
    font-size: 18px;
  }

  .tagline-break {
    display: block;
    margin-top: 15px;
  }

  .tagline-no-break {
    display: none;
  }

  .navbar-brand {
    display: block;
  }

  .jumbotron {
    padding-right: 45px;
    padding-left: 45px;
  }
}

@media only screen and (max-width: 650px) {

  .header-logo {
    margin: 0px;
    display: block;
    min-width: 200px;
    width: 200px;
  }

  .tagline-column {
    width: 100%;
  }

  .tagline {
    height: 76px;
    width: 100%;
  }

  .tagline a h3 {
    font-size: 16px;
  }

  .tagline-break {
    display: block;
    margin-top: 17px;
  }

  .tagline-no-break {
    display: none;
  }

  .navbar-brand {
    display: block;
  }

  .jumbotron {
    padding-right: 45px;
    padding-left: 45px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 620px) {

  .tagline a h3 {
    font-size: 15px;
  }

}

@media only screen and (min-width: 600px) and (max-width: 991px) {

      .adjust-vert {
      display: flex;
      flex-direction: row;
    }

    .adjust-vert > [class^="col-"],
    .adjust-vert > [class*=" col-"] {
      display: flex;
      align-items: center;
    }
}

@media only screen and (max-width: 599px) {


  .tagline {
    display: none;
  }

  .header-logo {
    margin: 0 auto;
    max-width: 100%;
    display: block;
    width: 200px;
    height: 83px;
  }

}


@media only screen and (max-width: 420px) and (min-width: 320px) {
  .navbar-brand {
    font-size: 13px;
  }

  .jumbotron p {
    font-size: 14px;
  }

  .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
  }

  .btn-lg {
   font-size: 16px;
  }
}

@media only screen and (max-width: 319px) {
  .navbar-brand {
    font-size: 11px;
  }

  .jumbotron p {
    font-size: 14px;
  }

  .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
  }
  .btn-lg {
   font-size: 14px;
  }
}
